<launch>
   <node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e36" args="40 0.0 0.0 0 0 0 1 map uwb_anchor_0 100" />
   <node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e33" args="-20 -34.6410 0.0 0 0 0 1 map uwb_anchor_1 100" />
   <node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e49" args="-20 34.6410 0.0 0 0 0 1 map uwb_anchor_2 100" />
   <!--node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e30" args="-40 0.0 0.0 0 0 0 1 map uwb_anchor_3 100"/>
   <node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e52" args="-20 -20.0 0.0 0 0 0 1 map uwb_anchor_4 100"/-->
   
   <!--node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e36" args="6 0.0 0.0 0 0 0 1 map uwb_anchor_0 100" /-->
   <!--node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e33" args="-3 -5.196 0.0 0 0 0 1 map uwb_anchor_1 100" /-->
   <!--node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e49" args="-3 5.196 0.0 0 0 0 1 map uwb_anchor_2 100" /-->    
   <!--node pkg="tf" type="static_transform_publisher" name="uwb_anchor_0x6e30" args="-1.4 -2.0 0.0 0 0 0 1 map uwb_anchor_3 100" /-->
</launch>
