<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(find create_gazebo)/worlds/create.world"/>
    </include>
    
    <remap from="tf" to="gazebo_tf"/>
    
    <!-- This node overrides default gazebo transform. New transform is necessary for the global planner to function properly.-->
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_odom" args="0.0 0.0 0.0 0.0 0.0 0.0  odom /base_link  100" />
    
      <rosparam command="load" file="$(find create_control)/config/gazebo_ros_control_params.yaml"/>
  	<rosparam command="load" file="$(find create_control)/config/create_control2.yaml"/>

    <!-- Spawn a robot into Gazebo -->
    <param name="robot_description" textfile="$(find create_description)/urdf/model.urdf"/>
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen" args="-param robot_description -urdf -model create" />
    <param name="/use_sim_time" value="true"/>
    
    
    
</launch>
